/*	3-column layout
    60 px columns, 24 px gutters, 46 px margins, 320 px total
    ---------------------------------------------------------
    1     2      3
    60px  144px  228px	*/

@media only screen and (max-width: 479px) {
    body {
        padding: 14px 10px 0;
        width: 310px;
        -webkit-text-size-adjust: 100%;
    }
    p { text-align: left; }

    header { height: 140px; }
    #headernav ul { float: none; list-style: none; }
    #headernav li { float: none; padding: 4px 0; }
    ul.connect, ul.connect li, h2#connect { float: none; }
    ul.connect { margin: 0; }
    ul.connect li p.description { display: none; }
    ul.connect li { height: 70px; width: 50px;}
    footer nav h3 { margin-top: 10px; }
    #connect_links, #footer_links, .Followers, .Label { width: 228px; }
    .CustomSearch { display: none; }
    .BlogSearch { display: none; }
    .Followers { margin-top: 0px; }

    .syntaxhighlighter .toolbar { display: none; }
}
